@font-face {
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/vollkorn-v19-latin-regular.woff2') format('woff2'),
         url('../fonts/vollkorn-v19-latin-regular.woff') format('woff'); 
  }

  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/montserrat-v23-latin-regular.woff2') format('woff2'),
         url('../fonts/montserrat-v23-latin-regular.woff') format('woff'); 
  }